* {
    margin: 0;
    box-sizing:border-box;
}

.books-result__container {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
}

.book__card {
    border: 2px solid rgba(0,0,0,0.5);
    width:25%;
    margin: 0.5rem;
    padding: 3rem;
    border-radius: 5rem;
}

.book__title {
    font-size:2rem;
    word-wrap:break-word;
    text-align:justify;
}

.book__cover {
    
}