* {
    margin: 0;
    box-sizing:border-box;
    font-family: 'League Spartan', sans-serif;
}

html {
    background-color:#e6c671;
}

.header__container {
    display:flex;
    justify-content:center;
    align-items:center;
    height:15vh;
    background-color:#c47fda;
    color:#FFFFFF;
    text-shadow: 2px 2px 5px #ffffff;
}

.header__logo {
    height:2rem;
    object-fit:cover;
}

.header__title {
    font-size:2rem;
    text-align:center;
    margin:1rem;
}

.main__container {
    background-color:#e6c671;
}


.search__container {
    width:50%;
    margin: 0 auto;
    padding:1rem;
    display:flex;
    justify-content:center;
}

.search__input {
    height:2rem;
    width:40%;
    font-size:1.5rem;
    border-radius:0.2rem;
    box-shadow: 1px 1px 4px #444242;
    outline:0;
}

.search__button {
    width:20%;
    height:2rem;
    background-image: linear-gradient(to right, #c47fda, #b961d6, #b350d4, #a827d3, #9701c9);
    color:#FFFFFF;
    font-size:1.5rem;
    border-radius:0.2rem;
    border: 1px solid #b977d8;
    text-shadow: 1px 1px 3px #000000;
    box-shadow: 1px 1px 4px #444242;
    cursor:pointer;
    position:relative;
}

.books-result__container {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
    width:100%;
    margin: 0 auto;
}

.book__card {
    display:flex;
    justify-content:space-between;
    align-items:center;
    border: 2px solid rgba(0,0,0,0.5);
    flex-basis:30%;
    max-height:100vh;
    margin: 0.5rem;
    background-color: #ffffff;
}

.book__cover {
    height:100%;
    object-fit:cover;
}

.book__infos {
    display:flex;
    flex-direction:column;
    padding-left:0.4rem;
    width:70%;
}

.book__title {
    font-size:1.2rem;
    display:inline-block;
    text-align:start;
    word-wrap:break-word;
    text-transform:uppercase;
    margin:0.5rem;
    height:2rem;
}


.book__authors {
    margin:0.5rem;
    padding-top:0.5rem;
}

.book__authors::before {
    content: 'Autor(a): ';
    font-weight:bold;
}

.book__rating {
    margin:0.5rem;

}

.book__rating::before {
    content: 'Rating: ';
    font-weight:bold;
}

.book__page-number {
    margin:0.5rem;
}

.book__page-number::before {
    content: 'Nº de páginas: ';
    font-weight:bold;
}